* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --dark-blue: #2a425b;
    --lighter-blue: #547792;
    --pale-yellow: #fffde7;
}



/*------------------------------*/
a {
    text-decoration: none;
    color: #333;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: var(--pale-yellow);
}

img {
    max-width: 100%;
}

p {
    color: #545454;
    font-weight: normal;
    font-size: 1.1rem;
    margin: 10px 0 5px;
}

ul{
    list-style: none;
}



/*---------NAVIGATION BAR---------*/
.navbar {
    background: var(--dark-blue);
    padding: 10px;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li a {
    color: var(--pale-yellow);
}

.navbar ul li a i {
    margin-left: 10px;
}



/*---------HOME---------*/
.home {
    padding: 40px, 0px;
    background: 
        linear-gradient(to right, var(--pale-yellow) 50%, transparent 50%), 
        url('../images/coverimg.png');
    background-position: left top, right top;
}

.home .social-links ul {
    display: flex;
    padding: 20px 0px;
}

.home ul li a {
    margin: 10px;
}



/*---------UTILITY CLASSES---------*/
.container {
    max-width: 1700px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Buttons */
.btn {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background: var(--lighter-blue);
    color: var(--pale-yellow);
    font-weight: 600;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    font-weight: 600;
    color: var(--dark-blue);
    background: var(--pale-yellow);
}

/* Text Classes */
.text-xl{
    font-size: 3rem;
    font-weight: 300;
    margin: 40px 0 20px;
}

.text-lg{
    font-size: 2.2rem;
    font-weight: 300;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 0.9rem;
    font-weight: normal;
    margin: 10px 0 5px;
}