* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --pale-yellow: #fffde7;
    --black: #000000;
    --mint-green: #00ff94;
}



/*------------------------------*/
a {
    text-decoration: none;
    color: var(--pale-yellow);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: var(--black);
    color: var(--pale-yellow);
}

img {
    max-width: 100%;
}

ul {
    list-style: none;
}



/*---------NAVIGATION BAR---------*/
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.85);
    padding: 10px;
    z-index: 9999;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu ul {
    display: flex;
    align-items: center;
}

.navbar ul li a {
    padding: 10px 20px;
    display: block;
    font-weight: 600px;
    transition: 0.5s;
    color: var(--pale-yellow);
}

.navbar ul li a:hover {
    color: var(--mint-green);
}

.navbar ul li a i {
    margin-left: 15px;
}

/*Dropdown for projects list*/
.navbar .main-menu ul li {
    position: relative;
}

.navbar .dropdown-menu {
    display: none;
}

.navbar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background: rgba(0, 0, 0, 0.85);
}

.navbar .dropdown-menu ul {
    display: block;
}

.navbar .dropdown-menu ul:before{
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    padding-top: 10px;
    border-top: 1px solid var(--pale-yellow); 
}



/*---------HOME---------*/
.home {
    background: 
        linear-gradient(to right, var(--black) 50%, transparent), 
        url('../images/linesofcode-haroldvasquez.jpg') no-repeat;
    background-position: center center;
    background-size: cover;
}

.home .container-sm-full {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.home .home-text {
    width: 50%;
    margin-bottom: 100px;
}

.home i {
    font-size: 2.5rem;
    padding-right: 20px;
}

.home .container-sm-full .scroll-animation {
    display: flex;
    justify-content: center;
    vertical-align: bottom;
    transform: translateY(120%)
}



/*---------ABOUT ME---------*/
.about-me .about-me-columns {
    display: flex;
    padding: 1rem;
}

.about-me .left {
    flex: 3;
    padding-right: 60px;
}

.about-me .right  {
    flex: 1;
}

.about-me .am-group .am-group-header {
    position: relative;
    cursor: pointer;
}

.about-me .am-group .am-group-header i {
    position: absolute;
    right: 0;
    top: 25px;
    font-size: 1.5rem;
}

.about-me h2 {
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: 500;
    padding: 20px 0;
}

.about-me h3 {
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: normal;
    padding-top: 20px;
}

.about-me .am-group .am-group-body {
    display: none;
}

.about-me .am-group .am-group-body.open {
    display: block;
}

.about-me .profile {
    display: flex;
    align-items: center;
    padding-bottom: 80px;
}

.about-me .profile-body {
    padding-left: 40px;
}

.about-me .profile-text {
    width: 60%;
}

.about-me .am-header {
    border-top: 1px solid var(--pale-yellow);
}

.about-me .about-me-description {
    padding-bottom: 20px;
}

.about-me .skills-list ul li {
    display: inline-flex;
}

.about-me ul li {
    /*padding-top, padding-right, padding-bottom, padding-left*/
    margin: 10px 10px 10px 0;
}

.about-me ul li:last-child {
    margin-bottom: 30px;
}



/*---------UTILITY CLASSES---------*/
.container {
    max-width: 95%;
    margin: 0 auto;
}

.container-full {
    max-width: 95%;
    margin: 0 auto;
    padding: 50px 0;
    min-height: 100vh;
}

.container-sm-full {
    max-width: 75%;
    margin: 0 auto;
    min-height: 100vh;
}

/*Button*/
.btn {
    background: var(--pale-yellow);
    color: var(--black);
    border-radius: 50px;
    padding: 7px 20px;
    width: fit-content;
}

/*Text Classes*/
.text-xxl {
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: 500;
    margin: 40px 0 20px;
}

.text-lg {
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}

.text-md {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}

.text-sm {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: normal;
    margin: 10px 0 5px;
}